*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: left;
}

header{
    color:#FFF;
    background-color: #3347B0;
    display: flex;
    flex-direction: column;
}

.content-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}


main{
    padding-left: 100px;
    height: 71vh;
    justify-content: space-around;
}

.text-container{
    margin-top: 130px;
    margin-left: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 85px;
    width: 980px;
    height: 110px;  
}

.text-container1{
    
    display: flex;
    flex-direction: column;
}

.text{
    width: 70%;
    height: 70%;
}

span{
    color: #3347B0;
    font-weight: bold;
}
.computer{
    height: 500px;
    align-items: flex-end;
    size: 200px;
    padding-top: 200px;
    padding-right: 60px;
}

.studant{
    height: 560px;
    padding-left: 80px;
    size: 200px;
    align-items: center;
}

.cards{
    background-color: #3347B0;
    height: 20vh;
    width: 30vh;
    font-family:'Roboto', sans-serif;
    font-weight: 300px;
    font-size: 45px;
    text-align: center;
    color: #FFF;
    padding-top: 40px;
    border: 1px solid #000000;
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
}


.DS{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 150px;
    height:100px;
    padding-left: 12px;
    padding-right: 20px;
}

.Redes{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 150px;
    height:90px;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 20px;
}

footer {
    background-color: #3347B0;
    font-family: 'Roboto', sans-serif;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    color: #fff;
}

.exit-button {
    font-size: 2em;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}

.links-container i {
    font-size: 1.3rem;
}

.info {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.info span{
    color: #FFF;
}

.copyright-tag{
    color: #FFF;
    align-items: center;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 1.2rem;
}






